/*

!*body {
    !*background: #259d6d;*!
    min-height: 100%;
}*!
!* Profile container *!
.profile {
    margin: 20px 0;
}

!* Profile sidebar *!
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #259d6d;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

.navigation {
    background-color: #fff;
}

!* enable absolute positioning *!
.inner-addon {
    position: relative;
}

!* style icon *!
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

!* align icon *!
.right-addon .glyphicon { right: 0px;}

!* add padding  *!
.right-addon input { padding-right: 30px; }

!* Profile Content *!
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}
.image-container {
    width: 100%;
    height: 30%;
}
.usr_responsive {
    overflow-x: auto;
}



#animated_search input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-image: url("../images/searchicon2.png");
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#inLine {
    padding-left: 20px;
}
input[type=text]:focus {
    width: 100%;
}
!* footer content *!
#footer {

    !*width:100%;*!
    font-size: medium;
    text-align: center;
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}
.col-md-5{
    margin-left: 0;
    padding: 0;
    margin-top: 70px;
}*/
