
body {
    width: 100%;
}

#wrapper {
    width: 100%;
}

#top {
    padding-top: 15px;
}
.navbar-top-links {
    margin-right: 0;
}
.navbar-top-links li {
    display: inline-block;
}
.navbar-top-links li:last-child {
    margin-right: 15px;
}
.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
    display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}
#drop .fa-user {
    color: white;
}
.navbar-default {
    background-color: #2b91a1;
}

#searchMenu .sidebar-search {
    padding: 15px;
}

.leftbar {
    padding-top: 12px;
    align-content: center;
}

.leftbar ul li {
    display: block;
}

.leftbar ul li a {
    color: #2b91a1;
    display: block;
}
.leftbar ul li a:link, a:visited  {
    background-color: #2b91a1;
}

.leftbar ul li a:hover, a:active {
    display: block;
    background-color: #36A172;
}

.bottom1 {
    padding-bottom: 50px;
}
.btn-primary {
    background-color: #2b91a1;
    text-decoration-color: white;
}
.navbar-login {
    width: 350px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}
.dr_title {
    text-align: center;
    margin-top: 20px;
}

.whiteColor {
    color: #FFFFFF;
}
footer {
    padding: 1em;
    color: #FFFFFF;
    background-color: #2b91a1;
    clear: both;
    text-align: center;
}





